$width-full: 100%;
$width-max: 92%;
$width-min: 88%;

$margin: 0 auto;
$padding: 10px;
$border-radius: 5px;

$design1: hsl(0 0 10%);
$design1: hsl(0 0 30%);
$design1: hsl(0 0 60%);
$design1: hsl(0 0 100%);



