@import "../abstracts/variables";

.column-box {
  width: $width-max;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: $margin;
  padding: 10px;
  gap: 1.2rem;
  background-color: hsl(0, 0, 90%);
  border-radius: 5px;





}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: $margin;
  justify-content: center;
  gap: 1.3rem;



}