form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.9rem;
    background-color: hsl(0, 0, 92%);
    border-radius: 5px;
    padding: 20px  50px;
    text-align: start;
}
.form-button{
    border: none;
    transition: 0.5s;
    background: hsl(0, 0, 33%);
    color: white;
}
