.form-wrapper{
    width: 100%;


}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;

}
.input-field{
    padding: 1rem;
    border-radius: 5px;
    max-width: 100%;
}
textarea{
width: 66%;
height: 22%;

}
select{
    display: inline-block;
}
.inline{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
}
.submit{
    border: 2px solid #141c3a;
    padding: 12px 14px;
    text-align: center;
    border-radius: 15px;
    width: 110px;
    max-width: 100%;
    transition: 0.3s;
 

}
.submit:hover {
 border-color: #fff;

}
.jeffery{
      margin-top: 11rem;
      width: 100%;

    }