


#navbar {
    display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      color: #000;
      margin-bottom: 100px;
  
      padding:22px 0 ;
 
      }
      .nav-link{
        list-style: none;

      }
           
        
                .nav-links {
              
                  display: inline-block;
                  padding: 15px;
                 
                }
                .menu{
                  display: none;
                }
                #round{
                  color: #6e25ef;
                  border: 2px solid #6e25ef;
                  border-radius: 20px;
                  text-align: center;
                  padding: 10px 17px;
                }
                #bound{
                    color: #6e25ef;
                }
               
      
    
     
      
 
    
     

      

            
        
    
    
   