@import "../abstracts/variables";

header {
  width: $width-full;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  

}
.scroll-watcher {
  height: 80px;
  position: fixed;
  top: 0;
  left:0;
  z-index: 1000;
  background-color: red;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}


.fluid-container{
width:100%;
padding: 8px 20px;
margin: 0 auto;
}
.fluid-container-align-left{
width:100%;
padding: 8px 20px;

}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  
}

.link-item {
  color: black;
}

.header-title {
  font-weight: 500;
  font-size: larger;
  color: blue;
}