.test1 {

    color: #141c3a;
}

.test2 {
    padding-top: 3rem;
    color: #141c3a;
}

.flex-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;



}

.see-more {

    padding: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    color: #141c3aff;
    justify-content: center;


}

.see-mores {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    color: #141c3aff;

}

.flex-item {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    flex-grow: 0;
    height: 45vh;
    transition: 0.3s ease-in;
    border: none;
    border-radius: 4px;




}


#Beelydrop:hover,
#CoastRepublic:hover,
#YoCho:hover {
    background-color: #141c3a;
}

#CoastRepublic:hover,
#Beelydrop:hover,
#YoCho:hover {
    background-image: none;
}

#Beelydrop {
    background-color: goldenrod;

}

#YoCho {
    background-color: greenyellow;
}

.hide a {
    border: 1px solid #bafdce;
    color: #fff;
    border-radius: 15px;
    padding: 12px 14px;



}

.hide a:hover {
    background-color: #bafdce;
    color: #141c3aff;

}

.hide {
    display: none;

}

.hide span {
    text-align: start;



}

#CoastRepublic {

    background-color: skyblue;
    opacity: 2;

}

.flex-item:hover .hide-image {
    display: none;
}

.flex-item:hover .hide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 12px;
    width: 40%;
    color: white;
    padding: 12px;

}

.hide-image {
    max-width: 50%;
    margin: 0 auto;
}





#display {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

#display2 {
    width: 100%;
    margin-top: -6rem;


    >div {
        position: unset !important;
    }

    .image {
        object-fit: contain;
        width: 88% !important;
        max-width: 100%;
    }
}



.container span {

    display: block;

}

.container {
    text-align: center;
    width: 100%;
    margin-top: 15rem;
}


.feature {

    width: 100%;
}

.feature-title {
    padding-top: 4%;
    text-align: start;
    padding: 12px;
    color: #141c3a;
}