
      .test1{

    
    margin-bottom:10px;

   color: #141c3a;
  
    position: relative;
}

.test2{
  

    margin-bottom: 20px;
    color: #141c3a;
}
.flex-box{
  
width: 100%;
display: flex;
flex-flow: row;
flex-wrap: wrap;
justify-content: space-evenly;

}
.see-more{
    border: 2px solid #6e25ef;
    padding: 12px 14px;
    margin-top: 3rem;
    border-radius: 12px;
}

.flex-item{
display: flex;
align-items: center;
justify-content: center;
margin: 2rem;
flex-grow: 1;
height: 45vh;


}
.flex-items {

    width: 40rem;
    flex-basis: auto;
    flex-grow: 0;
    height: 130vh;
    border-radius: 7px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  border: none;
  
 
}
#Beelydrop:hover, #CoastRepublic:hover, #YoCho:hover{
background-color: #141c3a;
}
#Beelydrop{
    background-color: goldenrod;

}
#YoCho{
    background-color: greenyellow;
}
.hide a{
    border: 1px solid #6e25ef;
    color: #fff;
    border-radius: 15px;
    padding: 12px 14px;
 

 
}
.hide a:hover{
   background-color: #6e25ef;
   color: #fff;
 
}
.hide {
       display: none;
   
}
.hide span {
      text-align: start;


   
}
#CoastRepublic{
background-color: skyblue;
  
}
.flex-item:hover .hide-image{
    display: none;
}
.flex-item:hover .hide{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem ;
    padding: 12px;
    width: 40%;
    color: white;
    padding: 12px;
    
}
.hide-image{
    max-width: 50%;
    margin: 0 auto;
}





#display{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;


}
#display2 {
    width: 100%;
  margin: 20px auto;
margin-bottom: -5rem;
>div{
    position: unset !important;
}
.image{
    object-fit: contain;
    width: 66% !important;
    position: relative !important;
    height: unset !important;
}
}



.container span{
 
    display: block;
   
}

.container {
  text-align: center;

   width: 100%;
}


.feature{
  
    background-color: #6e25ef;
    padding-top: 90px;
  margin-top: 3rem;
    padding-bottom: 90px;
  
}
.feature-title{
    padding-top: 3rem;
    color: #fff;
    padding-bottom: 5rem;
    line-height: 2.9rem;
}
.feature-para {
    color: #fff;
    text-align: center;
            line-height: 2.4em;
            word-wrap: break-word;
        padding: 35px;
        letter-spacing: 2px;
        font-size: small;
}
.color-secondary{
    color: #141c3a;
    text-align: center;
 
   
   
}
 .color-primary {
     color: #6e25ef;
     text-align: center;

 }