
      .test1{

    
    margin-bottom:10px;

   color: #141c3a;
  
    position: relative;
}

.test2{
  

    margin-bottom: 20px;
    color: #141c3a;
}
.flex-box{
    display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
width: 100%;
display: flex;
flex-flow: row;
flex-wrap: wrap;
justify-content: space-evenly;

}
.see-more{
  
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    color: #000;
 
}
.see-mores {

    padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 3rem;
        color: #fff;

}

.flex-item{
    display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
display: flex;
align-items: center;
justify-content: center;
margin: 2rem;
flex-grow: 1;
height: 45vh;


}
.flex-items {
    display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;

    width: 40rem;
    flex-basis: auto;
    flex-grow: 0;
    height: 130vh;
    border-radius: 7px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  border: none;
  
 
}
#Beelydrop:hover, #CoastRepublic:hover, #YoCho:hover{
background-color: #141c3a;
}
#Beelydrop{
    background-color: goldenrod;

}
#YoCho{
    background-color: greenyellow;
}
.hide a{
    border: 1px solid #bafdce;
    color: #000;
    border-radius: 15px;
    padding: 12px 14px;
 

 
}
.hide a:hover{
   background-color: #bafdce;
   color: #000;
 
}
.hide {
       display: none;
   
}
.hide span {
      text-align: start;


   
}
#CoastRepublic{
background-color: skyblue;
  
}
.flex-item:hover .hide-image{
    display: none;
}
.flex-item:hover .hide{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem ;
    padding: 12px;
    width: 40%;
    color: white;
    padding: 12px;
    
}
.hide-image{
    max-width: 50%;
    margin: 0 auto;
}





#display{
    display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;


}
#display2 {
    width: 100%;
  margin: 20px auto;
margin-bottom: -5rem;
>div{
    position: unset !important;
}
.image{
    object-fit: contain;
    width: 66% !important;
    position: relative !important;
    height: unset !important;
}
}



.container span{
 
    display: block;
   
}

.container {
  text-align: center;
margin-top: 4rem;
   width: 100%;
}


.feature{
  
    background-color: #222;
    padding-top: 90px;
  margin-top: 3rem;
    padding-bottom: 90px;
  
}
.feature-title{
    padding-top: 3rem;
    color: #fff;
    padding-bottom: 5rem;
    line-height: 2.9rem;
}
