
.container-link{
    background-color:  #141c3a;
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    transition: 0.5s ease;
}
.container-link:hover {
   opacity: 0.6;
}

.container-grid{
    display: grid;
    grid-template-columns: 2fr;
    
}
