
      #frame {
            margin: 0 auto;
            width: 800px;
            max-width: 100%;
            text-align: center;
        }
 
        #frame input[type=radio] {
            display: none;
        }
 
       
