@import "../abstracts/variables";



.color-black {
  color: black;
  font-weight: 100;
}

.flex-align-right {
  text-align: start;
}



@media (max-width: 700px) {

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background: url("https://plus.unsplash.com/premium_photo-1661964187664-e26f70e1a224?q=80&w=887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    padding-top: 30px;
background-size:cover;
background-position: center;
background-repeat:no-repeat;
    padding-bottom: 10px;
    text-align: center;
    color: #000;
    padding-left: 20px;
color:white;
font-weight:700;


  }

  .footer-para {
    text-align: center;
    margin: 0 auto;
  }



}