@import "../abstracts/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  height: 6px;
  /* height of horizontal scrollbar ← You're missing this */
  width: 4px;
  border: 1px solid #141c3a;
  scroll-behavior: smooth;
  transition: 0.3s ease;
}

::-webkit-scrollbar-track {
  scroll-behavior: smooth;
  border-radius: 0;
  transition: 0.3s ease;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  transition: 0.3s ease;
}

html {
  // This defines what 1rem is
  font-size: 88.5%;
  scroll-behavior: smooth;
  transition: 0.3s ease;
    text-rendering: optimizeLegibility;
}



a {
  text-decoration: none;
  transition: 0.5s ease;

}
img{

  object-fit: contain;
}



.MyApp {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  outline: 0 !important;
  transition: all 0.25s;

  &:active,
  &:hover {
    transition: all 0.25s;

  }
}

body,
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

footer {
  margin-top: auto;
}



button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  padding: 0.9rem 2rem;
  border-radius: 3px;
  margin: 0.6rem;
  -webkit-appearance: button important;
  -moz-appearance: button;
  -o-appearance: button;
  appearance: button;
}

button:hover {
  opacity: 0.6;
}


input::-webkit-input-placeholder {
  font: inherit;
}

input::-moz-placeholder {
  font: inherit;
}

input:-ms-input-placeholder {
  font: inherit;
}

input::-ms-input-placeholder {
  font: inherit;
}

input::placeholder {
  font: inherit;
}

footer {
  margin-top: auto;
}

ul {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  list-style: none;
  
}

li {
  margin: 0 auto;
  text-align: center;
  display: block;
  cursor: pointer;
padding-top:10px;
padding-bottom:10px;

  

}
.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #04aa6d;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 3px;
  width: 100%;
  margin: 10px 0;
}

.paystack-button:hover {
  background-color: #45a049;
}
h1{
  font-weight: 600;

}
h2{
    font-weight: 400;

}
h3{
    font-weight: 200;
 
}
h4{
    font-weight: 100;

}
h5{
    font-weight: 88;
  
}
h6{
    font-weight: 60;

}
p{
  font-weight: 100;
  width: 87%;
  margin: $margin;

}
h1,h2,h3,h4,h5,h6,p,span{
  padding-top: 10px;
  padding-bottom: 10px;
}
span{
  font-weight: 200;
}
