@import "../abstracts/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  height: 6px;
  /* height of horizontal scrollbar ← You're missing this */
  width: 4px;
  border: 1px solid #141c3a;
  scroll-behavior: smooth;
  transition: 0.3s ease;
}

::-webkit-scrollbar-track {
  scroll-behavior: smooth;
  border-radius: 0;
  transition: 0.3s ease;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  transition: 0.3s ease;
}

html {
  // This defines what 1rem is
  font-size: 88.5%;
  scroll-behavior: smooth;
  transition: 0.3s ease;
    text-rendering: optimizeLegibility;
}




body {
  text-rendering: optimizeLegibility;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;


}

a {
  text-decoration: none;
  transition: 0.5s ease;
  color: #141c3a;
}
img{

  object-fit: contain;
}



.MyApp {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  outline: 0 !important;
  transition: all 0.25s;

  &:active,
  &:hover {
    transition: all 0.25s;

  }
}

body,
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(48, 49, 52);
  color: whitesmoke;
  text-rendering: optimizeLegibility;
    text-align: center;
    line-height: 25px;
    font-family: 'Oswald', sans-serif;
}

footer {
  margin-top: auto;
}



button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: whitesmoke;
  color: black;
  padding: 0.9rem 2rem;
  border-radius: 3px;
  margin: 0.6rem;
  -webkit-appearance: button important;
  -moz-appearance: button;
  -o-appearance: button;
  appearance: button;



}

button:hover {
  opacity: 0.6;
}

input {
  display: block;
  max-width: 400px;
  font: inherit;
  padding: 0.6rem 4.62em;
  border-radius: 3px;
  border: none;
  margin: 0 auto;
  margin-top: 1rem;

}


input[type=submit] {
  display: block;
  max-width: 400px;
  font: inherit;
  padding: 0.6rem 4.2rem;
  border-radius: 3px;
  background-color: black;
  color: white;
  transition: 0.5s;
  margin: 0 auto;
  margin-top: 1rem;
  cursor: pointer;

}

textarea {
  display: block;
  max-width: 400px;
  font: inherit;
  padding: 0.6rem 4.2rem;
  border-radius: 3px;
  border: none;
  margin: 0 auto;
  margin-top: 1rem;
  -webkit-appearance: textarea;
  -moz-appearance: textarea;
  -o-appearance: textarea;
  appearance: textarea;


}

label {
 padding-left: 0.9rem;
 color: #222;
}

input::-webkit-input-placeholder {
  font: inherit;
}

input::-moz-placeholder {
  font: inherit;
}

input:-ms-input-placeholder {
  font: inherit;
}

input::-ms-input-placeholder {
  font: inherit;
}

input::placeholder {
  font: inherit;
}

footer {
  margin-top: auto;
}

ul {
  display: block;
  transition: 0.5s ease;
  text-decoration: none;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

li {
  margin: 0 auto;
  text-align: center;
  display: block;
  transition: 0.5s ease;
  cursor: pointer;
  padding: 15px;
  

}
.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #04aa6d;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 3px;
  width: 100%;
  margin: 10px 0;
}

.paystack-button:hover {
  background-color: #45a049;
}
h1{
  font-weight: 600;
  color: rgb(141, 184, 250);
  
}
h2{
    font-weight: 400;
    color: rgb(141, 184, 250);
}
h3{
    font-weight: 200;
    color: rgb(141, 184, 250);
}
h4{
    font-weight: 100;
    color: rgb(141, 184, 250);
}
h5{
    font-weight: 88;
    color: rgb(141, 184, 250);
}
h6{
    font-weight: 60;
    color: rgb(141, 184, 250);
}
p{
  font-weight: 100;
  width: 77%;
  margin: $margin;
  color: rgb(224, 224, 227);
}
h1,h2,h3,h4,h5,h6,p,span{
  padding-top: 10px;
  padding-bottom: 10px;
}
span{
  color: rgb(48, 49, 52);
  font-weight: 200;
}
