h1 {

  text-align: center;

  font-weight: 700;
}

h2 {

  text-align: center;
  font-weight: 500;
}


h3 {

  text-align: center;
  color: #f8f8f8;
  font-weight: 300;
}


h6 {

  text-align: center;
  font-weight: 100;
}

h4 {

  text-align: center;
  font-weight: 150;

}

p {

  text-align: center;
  line-height: 2rem;
  width: 77%;
  color: #141c3a;
  font-weight: 70;


}

#welcome {
  text-align: center;
  width: 100%;
}

.dropdown {
  width: 100%;
}