h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
 }
 h2 {
   margin: 0 auto;
   text-align: center;
   font-size: 2.6rem;
 }

 h3 {
   font-size: 2rem;
   margin-bottom: 1.5rem;
   color: #fff;
 }


 h6 {
   font-size: 1.6rem;
   width: 95%;
   margin: 0 auto;
 }

 h4 {
   font-size: 1.4rem;
 }
    p{

      text-align: center;
        color: #fff;
        text-indent: 30px;
        line-height: 20px;
    }
    
 #welcome{
  text-align: center;
  width: 100%;
 }

.dropdown {
  width: 100%;
}

.bm-burger-button {
  position: fixed;
  width: 22px;
  height: 27px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: gray;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #000;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background-color: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1em;
}

bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #fff;
}

.bm-item {
  display: inline-block;

}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



/*styling mobile(smartphone) media queries
*/
@media screen and (max-width: 900px) and (min-width:600px),
(min-width:1100px) {



}





@media screen and (max-width: 767px) {

  
  }

  


@media screen and (max-width: 480px) {
  
.nav-links{
  display: none;
}








}















