h1 {

  text-align: center;
  font-size: 2rem;
 }
 h2 {

   text-align: center;
   font-size: 1.8rem;
 }

 h3 {
   font-size: 1.5rem;
   text-align: center;
   color: #fff;
 }


 h6 {
   font-size: 1.1rem;
  text-align: center;
 }

 h4 {
   font-size: 1.3rem;
    text-align: center;
 }
    p{

      text-align: center;
        color: #fff;
     

    }
    
 #welcome{
  text-align: center;
  width: 100%;
 }
 .dropdown {
   width: 100%;
 }

 .bm-burger-button {
   position: fixed;
   width: 22px;
   height: 27px;
   right: 26px;
   top: 25px;
 }

 .bm-burger-bars {
   background: black;
 }

 .bm-burger-bars-hover {
   background: var(--magenta);
 }

 .bm-cross-button {
   height: 24px;
   width: 24px;
 }

 .bm-cross {
   background: var(--secondary);
 }

 .bm-menu-wrap {
   position: fixed;
   height: 100%;
 }

 .bm-menu {
   padding: 2.5em 1.5em 0;
   font-size: 1em;
   background: var(--primary);
 }

 bm-morph-shape {
   fill: #373a47;
 }

 .bm-item-list {
   color: #fff;
 }

 .bm-item {
   display: inline-block;
   text-align: start;
   padding: 1.3rem;
   font-weight: 600;
   color: #000;
 }

 .bm-item:hover {
   color: #000;
 }

 .bm-overlay {
   background: rgba(0, 0, 0, 0.3);
 }



/*styling mobile(smartphone) media queries
*/



@media screen and (min-width: 320px) {


  .hides {
    display: block;
  }
  .nav-link{
    display: none;
  }
}

@media screen and (min-width: 550px) {

  .hides {
    display: none;
  }
        .nav-link {
          display: block;
    
        }


}

@media screen and (min-width: 768px) {


  .hides {
    display: none;
  }
        .nav-link {
          display: block;
    
        }
  
}

@media screen and (min-width: 960px) {
 

  .hides {
    display: none;
  }
                     .nav-link {
                       display: block;
          
                     }
          
          
                   
}














